html{
	font-family: 'PT Serif', serif;
	background-color: #FFFFFF;
}
body {
  width: 700px;
  margin: 15px auto;
  background-color: #dce775;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
	font-family: 'Indie Flower', cursive;
    font-size: 75px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}
a:hover {
	color: red;
}

p, li {
  font-size: 15px;    
  line-height: 1.3;
  letter-spacing: 1px;
}
img {
  display: block;
  margin: 0 auto;
}
#author {
    font-family: 'Indie Flower', cursive;
	text-align:right;
}